*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.section{
    background: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90.43%);
}

nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10%;
}
.menu{
    width: 80%;
}
.sell_profile{
    width: 10%;
}